<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body class="light-theme">

    <!-- TITULOS -->
    <h1>CAFETERIA DO DEDE</h1>
    <% if(nome) { %>
    <p>Seja bem-vindo(a), <%= nome %>!</p>
    <% } %>
    
    <% if(erro) { %>
        <p> <%= erro %>!</p>
        <% } %>
    <!-- navbar -->
    <nav class="navbar">
        <!-- Botão Hambúrguer -->
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
    
        <!-- Links da Navbar -->
        <div class="navbar-links">
            <button class="logout"><a href="/logout">Sair</a></button>
            <button id="theme-toggle">Dark Mode</button>
            <button><a href="/main2">Produtos</a></button>
            <button><a href="/compras/listar">Minhas Compras</a></button>
            <!-- Imagem do logo -->
            <img class="logo-imagem" src="/uploads/cafelogo.jpg" alt="logo de café">
        </div>
    </nav>


    <!-- tabela -->
    <table class="table-container">
        <caption>PRODUTOS:</caption>

        <tr>
            <th class="numero">Número</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Imagem</th>
        </tr>
        <% produtos.forEach(item=> { %>
            <tr>
                <td class="numero">
                    <%= item.id_produtos %>
                </td>
                <td>
                <a style="text-decoration:none ;" href='/compra/form/<%= item.id_produtos %>'><%= item.nome %></a>

                
                </td>
                <td>
                    <a style="text-decoration:none ;" href='/compra/form/<%= item.id_produtos %>'><%= item.descricao %> </a>
                </td>
                <td>
                    <a style="text-decoration:none;" href='/compra/form/<%= item.id_produtos %>'> R$: <%= item.valor.toFixed(2) %> </a>
                </td>
                <td>
                    <a style="text-decoration: none;" href='/compra/form/<%= item.id_produtos %>'>
                    <% if (item.imagem) { %>
                        <img src="/uploads/<%= item.imagem %>" class="produto-imagem" alt="produto">
                        <% } else { %>
                            <span>imagem do produto <%= item.nome %></span>
                            <% } %>
                            </a>
                </td>
         
            </tr>
            <% }) %>
    </table>

</body>
<script src="/script/script.js"></script>

</html>