<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compras</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body class="light-theme">
    <h1>CAFETERIA DO DEDE</h1>
    <p>Seja bem-vindo(a), <%= nome %>!</p>

    <nav class="navbar">
        <!-- Botão Hambúrguer -->
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>

        <!-- Links da Navbar -->
        <div class="navbar-links">
            <button class="logout"><a href="/logout">Sair</a></button>
            <button id="theme-toggle">Dark Mode</button>
            <button><a href="/main2">Produtos</a></button>
            <button><a href="/compras/listar">Minhas Compras</a></button>
            <!-- Imagem do logo -->
            <img class="logo-imagem" src="/uploads/cafelogo.jpg" alt="logo de café">
        </div>
    </nav>

    <table class="table-container">
        <caption>COMPRAS:</caption>

        <tr>
            
            <th>produto</th>
            <th>imagem</th>
            <th class="quantidade">quantidade</th>
            <th>Valor total</th>
            <th>estado</th>
            <th>ação</th>
        </tr>
        <% lista_de_compras.forEach(item=> { %>
            <tr>
                <td>
                    <%= item.nome %>
                </td>
                <!-- imagem -->
                <td>
                    <% if (item.imagem) { %>
                        <img src="/uploads/<%= item.imagem %>" class="produto-imagem" alt="produto">
                        <% } else { %>
                            <span>Sem imagem</span>
                            <% } %>
                </td>

                <td>
                    <%= item.quantidade %>
                </td>
                <td>
                    R$:<%= item.valor_total %>
                </td>
                <td class='estado-<%= item.estado %>'>
                    <%= item.estado %>
                </td>
                <td >
                    <div id="acao-venda" style="display: flex; justify-content: center;">

                                <button><a href="/compra/ver/<%= item.id_vendas %>">ver pedido</a></button>  

                        </div>
                </td>
            </tr>
            <% }) %>
    </table>


</body>
<script src="/script/script.js"></script>

</html>