<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos para editar</title>
    <link rel="stylesheet" href="/css/estilo.css">

</head>

<body class="light-theme">

    <!-- TITULOS -->
    <h1>CAFETERIA DO DEDE</h1>
    <p>Seja bem-vindo(a), admin <%= nome %>!</p>


    <!-- NAVBAR -->
    <nav  id='administracao' class="navbar">
        <!-- Botão Hambúrguer -->
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>

        <!-- Links da Navbar -->
        <div class="navbar-links">
            <button class="logout"><a href="/logout">Sair</a></button>
            <button id="theme-toggle">Dark Mode</button>
            <button><a href="/produto/form">Cadastrar produto</a></button>
            <button><a href="/compras/listar/todas">Listar Compras</a></button>

            <% if (categoria==3) { %>
                <button class="cadastrarUsuario"><a href="/funcionario/VerAdmin"> Ver Administradores</a></button>
                <% } %>

            <!-- Imagem do logo -->
            <img id='logo-adm'class="logo-imagem" src="/uploads/cafelogo.jpg" alt="logo de café">
        </div>
    </nav>


    <table class="table-container">
        <caption>PRODUTOS:</caption>

        <tr>
            <th class="numero">Número</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="valor">Valor</th>
            <th>Imagem</th>
            <th>Ações</th>
        </tr>

        <% produtos.forEach(item=> { %>
            <tr>
                <td>
                    <%= item.id_produtos %>
                </td>
                <td>
                    <%= item.nome %>
                </td>
                <td>
                    <%= item.descricao %>
                </td>
                <td>
                    <%= item.valor %>
                </td>
                <td>
                    <% if (item.imagem) { %>
                        <img src="/uploads/<%= item.imagem %>" class="produto-imagem" alt="produto">
                        <% } else { %>
                            <span>Sem imagem</span>
                            <% } %>
                </td>
                <td>
                    <button onclick="confirmAction('/produto/editar/<%= item.id_produtos %>', 'editar')">
                        Editar</button>
                    <button
                        onclick="confirmAction('/produto/deletar/<%= item.id_produtos %>', 'excluir')">Excluir</button>

                </td>
            </tr>
            <% }) %>
    </table>
    <script src="/script/script.js"></script>

</body>

</html>