<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body class="light-theme">

    <!-- TITULOS -->
    <h1>CAFETERIA DO DEDE</h1>
    <p>Seja bem-vindo(a), <%= nome %>!</p>
    <!-- navbar -->

    <nav class="navbar">
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
        <div class="navbar-links">
            <button class="logout"><a href="/logout">Sair</a></button>
            <button id="theme-toggle">Dark Mode</button>
            <button><a href="/main2">Produtos</a></button>
            <button><a href="/compras/listar">Minhas Compras</a></button>
            <img src="" alt="">
        </div>
    </nav>


    <!-- tabela -->
    <table class="table container">
        <caption>PRODUTOS:</caption>

        <tr>
            <th>Número</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Imagem</th>
            <th>Ações</th>
        </tr>
        <% produtos.forEach(item=> { %>
            <tr>
                <td>
                    <%= item.id_produtos %>
                </td>
                <td>
                    <%= item.nome %>
                </td>
                <td>
                    <%= item.descricao %>
                </td>
                <td>
                    <%= item.valor %>
                </td>
                <td>
                    <% if (item.imagem) { %>
                        <img src="/uploads/<%= item.imagem %>" class="produto-imagem" alt="produto">
                        <% } else { %>
                            <span>Sem imagem</span>
                            <% } %>
                </td>
                <td>
                    <a href='/comprar/form/<%= item.id_produtos %>'><button>comprar</button></a>
                </td>
            </tr>
            <% }) %>
    </table>

</body>
<script src="/script/script.js"></script>

</html>