<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/estilo.css">

</head>

<body class="light-theme">


    <h1>CAFETERIA DO DEDE</h1>
    <p>Seja bem-vindo(a), <%= nome %>!</p>

    <button id="theme-toggle">Dark Mode</button>

    <button><a href="/produto/form" style="text-decoration: none; color: inherit;">Cadastrar produto</a></button>
    <button><a href="/logout" style="text-decoration: none; color: inherit;">Sair</a></button>
    <table class="table container">
    
        <tr>
            <th>Número</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Imagem</th>
            <th>Ações</th>
        </tr>
        <% produtos.forEach(item => { %>
            <tr>
                <td><%= item.id_produtos %></td>
                <td><%= item.nome %></td>
                <td><%= item.descricao %></td>
                <td><%= item.valor %></td>
                <td>
                    <% if (item.imagem) { %>
                        <img src="/uploads/<%= item.imagem %>" class="produto-imagem" alt="produto">
                    <% } else { %>
                        <span>Sem imagem</span>
                    <% } %>
                </td>
                <td>
                    <a href='/produto/editar/<%= item.id_produtos %>'><button>Editar</button></a>
                    <a href="/produto/deletar/<%= item.id_produtos %>"><button>Excluir</button></a> 
                </td>
            </tr>
        <% }) %>
    </table>
    <script src="/script/script.js"></script>

</body>

</html>
